<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mintaur">

    <xacro:include filename="$(find avc_urdf)/urdf/materials.xacro" />
	<xacro:include filename="$(find avc_urdf)/urdf/properties.xacro" />
    <xacro:include filename="$(find avc_urdf)/urdf/links.xacro" />
    <xacro:include filename="$(find avc_urdf)/urdf/gazebo.xacro" />

  <xacro:base_link/>

  <xacro:wheel prefix="right" suffix="front" fb="${frontWheelDist}" lr="${-seperationWheelDist}"/>
  <xacro:wheel prefix="left" suffix="front" fb="${frontWheelDist}" lr="${seperationWheelDist}"/>
  <xacro:wheel prefix="right" suffix="back" fb="${backWheelDist}" lr="${-seperationWheelDist}"/>
  <xacro:wheel prefix="left" suffix="back" fb="${backWheelDist}" lr="${seperationWheelDist}"/>


  <xacro:imu />
  <xacro:lidar /> 




</robot>