<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mintaur">

    <xacro:include filename="$(find avc_urdf)/urdf/materials.xacro" />
	<xacro:include filename="$(find avc_urdf)/urdf/properties.xacro" />
    <xacro:include filename="$(find avc_urdf)/urdf/links.xacro" />
    <xacro:include filename="$(find avc_urdf)/urdf/gazebo.xacro" />

  <xacro:base_link/>

  <xacro:wheel side="right" fob="front" sideDim="${rightWheelDist}" fobDim="${frontWheelDist}" />
  <xacro:wheel side="left" fob="front" sideDim="${leftWheelDist}" fobDim="${frontWheelDist}" />
  <xacro:wheel side="right" fob="back" sideDim="${rightWheelDist}" fobDim="${backWheelDist}" />
  <xacro:wheel side="left" fob="back" sideDim="${leftWheelDist}" fobDim="${backWheelDist}" />


  <!-- <xacro:imu /> -->
  <!-- <xacro:lidar /> TODO -->




</robot>