<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mintaur">

    <xacro:macro name="wheel_gazebo" params="prefix suffix">
        <gazebo reference="${prefix}_${suffix}_wheel">
            <mu1 value="200.0"/>
            <mu2 value="100.0"/>
            <kp value="10000000.0" />
            <kd value="1.0" />
            <material>Gazebo/Grey</material>
        </gazebo>
    </xacro:macro>


    <xacro:macro name="imu_gazebo">
        <gazebo reference="imu_link">
            <material>Gazebo/Red</material>
        </gazebo>
    </xacro:macro>

    <xacro:macro name="lidar_gazebo">
        <gazebo reference="lidar_link">
            <material>Gazebo/Blue</material>
        </gazebo>
    </xacro:macro>

    <xacro:macro name="base_gazebo">
        <gazebo reference="base_link">
            <material>Gazebo/Black</material>
        </gazebo>
    </xacro:macro>


    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            <legacyModeNS>true</legacyModeNS>
        </plugin>
    </gazebo>
</robot>




