<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mintaur">

    <xacro:macro name="wheel_gazebo" params="side fob">
        <gazebo reference="${side}_${fob}_wheel">
            <mu1 value="${wheelMu1}"/>
            <mu2 value="{wheelMu2}"/>
            <kp value="{wheelKp}" />
            <kd value="{wheelKd}" />
            <material>Gazebo/Grey</material>
        </gazebo>
    </xacro:macro>


    <gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>/</robotNamespace>
			<!-- <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType> -->
		</plugin>
	</gazebo>
</robot>




