<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mintaur">


    <xacro:macro name="chassis_mesh_geometry">
        <geometry>
            <mesh filename="file:///$(find avc_urdf)/meshes/chassis2.DAE" scale="${chassisScale} ${chassisScale} ${chassisScale}"/>
         </geometry>
         <origin rpy="1.57 0 0" xyz="${chassisMeshXoffset} ${chassisMeshYoffset} ${chassisMeshZoffset}" />
	</xacro:macro>

	<xacro:macro name="box_geometry">
       <geometry>
            <box size = "${chassisL} ${chassisW} ${chassisH} "/>
        </geometry>
	</xacro:macro>

    <!-- <xacro:macro name="imu_geometry">
       <geometry>
            <box size = "${imuL} ${imuW} ${imuH} "/>
        </geometry>
	</xacro:macro> -->


    <xacro:macro name="wheel_mesh_geometry" params="side">
        <geometry>
            <mesh filename="file:///$(find avc_urdf)/meshes/wheels.DAE" scale="${wheelScale} ${wheelScale} ${wheelScale}"/>
         </geometry>
            <xacro:if value="${side =='right'}">
                <origin rpy="1.57 0 0" xyz="0 ${wheelMeshYoffset} 0" />
            </xacro:if>
            <xacro:if value="${side =='left'}">
                <origin rpy="1.57 0 3.14" xyz="${wheelMeshXoffset} ${wheelMeshYoffsetLeft} ${wheelMeshZoffset}" />
            </xacro:if>
	</xacro:macro>



    <xacro:macro name="wheel_geometry">
        <geometry>
            <cylinder length="${wheelThickness}" radius="${wheelRadius}"/>
        </geometry>
        <origin rpy="1.57075 0 0" xyz="0 0 0"/>
	</xacro:macro>

</robot>