<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mintaur">

	<xacro:include filename="$(find avc_urdf)/urdf/inertial.xacro" />
	<xacro:include filename="$(find avc_urdf)/urdf/joints.xacro" />
	<xacro:include filename="$(find avc_urdf)/urdf/transmissions.xacro" />
    <xacro:include filename="$(find avc_urdf)/urdf/geometries.xacro" />


<xacro:macro name="base_link">
    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="$(find avc_urdf)/meshes/chassis.DAE" scale="${chassisScale} ${chassisScale} ${chassisScale}"/>
            </geometry>
            <origin rpy="1.57 0 3.14" xyz="0 0 0" />
            <!-- <xacro:box_geometry />
            <material name="blue"/> -->
        </visual>
        <collision>
            <xacro:box_geometry />
        </collision>
        <xacro:box_inertial />
    </link>
</xacro:macro>


<xacro:macro name="wheel" params="side fob sideDim fobDim">


    <link name="${side}_${fob}_wheel">
        <visual>
            <xacro:wheel_geometry />
            <material name="white"/>
        </visual>
        <collision>
            <xacro:wheel_geometry />
        </collision>
        <xacro:wheel_inertial />
    </link>


    <!-- Use this block for a front wheel -->
    <xacro:if value="${fob =='front'}">

        <link name="${side}_${fob}_axle">
            <xacro:axle_inertial />
        </link>

        <xacro:axle_joint side="${side}" fob="${fob}" sideDim="${sideDim}" fobDim="${fobDim}"/>


        <xacro:front_wheel_joint side="${side}" fob="${fob}" sideDim="${sideDim}" fobDim="${fobDim}"/>
        <xacro:axle_transmission side="${side}" fob="${fob}"/>

    </xacro:if>

    <!-- Use this block for a rear wheel -->
    <xacro:if value="${fob =='back'}">
        <xacro:rear_wheel_joint side="${side}" fob="${fob}" sideDim="${sideDim}" fobDim="${fobDim}"/>
    </xacro:if>

    <!-- <xacro:wheel_gazebo side="${side}" fob="${fob}"> -->
</xacro:macro>


<!-- <xacro:macro name="imu">
    <link name="imu_link">
        <visual>
            <xacro:imu_geometry />
            <material name="orange"/>
        </visual>
        <collision>
            <xacro:imu_geometry />
        </collision>
        <xacro:imu_inertial />
    </link>

    <xacro:imu_joint />
</xacro:macro> -->


</robot>