<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mintaur">

    <!-- X axis direction is forward, Y axis direction is left -->

    <!-- ______________Chassis parameters__________________________ -->
    <xacro:property name="chassisL" value="0.51" />
    <xacro:property name="chassisW" value="0.2" />
    <xacro:property name="chassisH" value="0.15" />


    <xacro:property name="chassisMass" value="1"/>
    <xacro:property name="chassisIxx" value="0.4"/>
    <xacro:property name="chassisIxy" value="0.4"/>
    <xacro:property name="chassisIyy" value="0.4"/>
    <xacro:property name="chassisIxz" value="0.0"/>
    <xacro:property name="chassisIyz" value="0.0"/>
    <xacro:property name="chassisIzz" value="0.0"/>

    <xacro:property name="chassisScale" value="0.001"/>

    <xacro:property name="chassisMeshXoffset" value="-0.125"/>
    <xacro:property name="chassisMeshYoffset" value="-0.070"/>
    <xacro:property name="chassisMeshZoffset" value="-0.085"/>



    <!-- ______________Wheel parameters__________________________ -->
    <!-- Wheel Rotation Limits> -->
    <xacro:property name="llimit" value="-0.785" />
    <xacro:property name="ulimit" value="0.785" />

    <!-- Wheel Locations -->
    <xacro:property name="rightWheelDist" value="-.1215" />
    <xacro:property name="leftWheelDist" value=".1215" />
    <xacro:property name="frontWheelDist" value="0.1535" />
    <xacro:property name="backWheelDist" value="-0.1763" />

    <xacro:property name="wheelDrop" value="-0.075" />
    <xacro:property name="wheelScale" value="0.001"/>

    <xacro:property name="wheelMeshXoffset" value="0"/>
    <xacro:property name="wheelMeshYoffset" value="0.022"/>
    <xacro:property name="wheelMeshYoffsetLeft" value="-0.022"/>
    <xacro:property name="wheelMeshZoffset" value="0"/>



    <!-- Wheel Physical Propreties-->
    <xacro:property name="wheelThickness" value="0.043" />
    <xacro:property name="wheelRadius" value="0.05"/>
    <xacro:property name="axleEffort" value="0.001"/>
    <xacro:property name="axleVelocity" value="0.5"/>

    <xacro:property name="wheelMass" value="1"/>
    <xacro:property name="wheelIxx" value="0.4"/>
    <xacro:property name="wheelIyy" value="0.4"/>
    <xacro:property name="wheelIzz" value="0.4"/>
    <xacro:property name="wheelIxy" value="0.0"/>
    <xacro:property name="wheelIxz" value="0.0"/>
    <xacro:property name="wheelIyz" value="0.0"/>

    <!-- Wheel Gazebo and Inertial Properties -->
    <xacro:property name="wheelMu1" value="200"/>
    <xacro:property name="wheelMu2" value="100"/>
    <xacro:property name="wheelKp" value="10000000.0"/>
    <xacro:property name="wheelKd" value="1.0"/>



 <!-- ______________IMU parameters__________________________ -->
    <xacro:property name="imuL" value="0.064" />
    <xacro:property name="imuW" value="0.028" />
    <xacro:property name="imuH" value="0.007" />

    <xacro:property name="imuMass" value="0.1"/>
    <xacro:property name="imuIxx" value="0.4"/>
    <xacro:property name="imuIxy" value="0.4"/>
    <xacro:property name="imuIyy" value="0.4"/>
    <xacro:property name="imuIxz" value="0.4"/>
    <xacro:property name="imuIyz" value="0.4"/>
    <xacro:property name="imuIzz" value="0.4"/>

    <xacro:property name="imuXoffset" value="-0.077"/>
    <xacro:property name="imuYoffset" value="0.0"/>
    <xacro:property name="imuZoffset" value="0.077"/>


<!-- __________________Random Values______________________ -->
    <xacro:property name="width" value="0.2" />
    <xacro:property name="leglen" value="0.6" />
    <xacro:property name="polelen" value="0.2" />
    <xacro:property name="bodylen" value="0.6" />
    <xacro:property name="baselen" value="0.4" />
    <xacro:property name="wheeldiam" value="0.07" />
    <xacro:property name="pi" value="3.1415" />
    <xacro:property name="seperationWheelDist" value=".1215" />



     <!-- ______________Lidar parameters__________________________ -->
    <xacro:property name="lidarThick" value="0.086" />
    <xacro:property name="lidarRadius" value="0.045" />

    <xacro:property name="lidarXoffset" value="0.076"/>
    <xacro:property name="lidarYoffset" value="0.0"/>
    <xacro:property name="lidarZoffset" value="0.059"/>

    <xacro:property name="lidarMass" value="0.025"/>
    <xacro:property name="lidarIxx" value="${0.08333333*lidarMass*(3*lidarRadius*lidarRadius+lidarThick*lidarThick)}"/>
    <xacro:property name="lidarIxy" value="0.0"/>
    <xacro:property name="lidarIyy" value="${0.08333333*lidarMass*(3*lidarRadius*lidarRadius+lidarThick*lidarThick)}"/>
    <xacro:property name="lidarIxz" value="0.0"/>
    <xacro:property name="lidarIyz" value="0.0"/>
    <xacro:property name="lidarIzz" value="${0.5*lidarMass*(lidarRadius*lidarRadius)}"/>

</robot>
